@charset "utf-8";
@import "../scss/components/mixins";
// @import "../scss/layout/breadcrumb";
@import "../scss/layout/tableform";
// @import "../scss/layout/pagination";

.headtitle {
    $pages: contact, category, error, privacy, author, sitemap;
    @each $page in $pages {
        &-#{$page} {
            background: url('../images/main-'+$page+'.jpg') no-repeat center center;
            background-size: cover;
        }
    }

    position: relative;
    z-index: 1;
    &::after{
        content: '';
        position: absolute;
        background: url(../images/bgoverlay.png) no-repeat center top;
        background-size: cover;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    @include query($sp) {
        height: 160px;
    }
    .container {
        position: relative;
        z-index: 9;
        padding: 158px 0;
        @include query($container) {
            padding: 158px 15px;
        }
        h1 {
            font-size: 45px;
            color: #fff;
            letter-spacing: 2px;
            font-weight: bold;
            line-height: 1;
            @include minquery(960) {
                min-width: 440px;
            }
            @include query($sp) {
                font-size: 26px;
                padding: 10px 40px;
            }
        }
    }
}
  
.breadcrumb{
    background: #707070;
    &__list{
        @include flexbox(flex-start, center);
        height: 24px;
    }
    &--item{
        font-size: 12px;
        padding: 2px 25px 2px 15px;
        color: #fff;
        position: relative;
        &:first-child{
            padding-left: 0;
        }
        &:last-child{
            background: #2F2F2F;
            padding-right: 15px;
            &::before,
            &::after{
                content: '';
                position: absolute;
                top: 0;
                width: 10px;
                height: 24px;
            }
            &::after{
                background: url(../images/pathright.png) no-repeat right center;
                background-size: 10px;
                right: -10px;
            }
            &::before{
                background: url(../images/pathleft.png) no-repeat right center;
                background-size: 10px;
                left: -10px;
            }
        }
        a{
            font-weight: 500;
            color: #fff;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

.main_body{
    margin-top: 100px;
    .container{
        @include flexbox(space-between, flex-start);
        width: 100%;
        @include query(960){
            flex-wrap: wrap;
        }
    }
    .content{
        max-width: 900px;
        flex: 0 0 calc(70% - 10px);
        @include query(960){
            flex: 0 0 100%;
            margin-bottom: 50px;
        }
    }
    .sidebar{
        flex: 0 0 30%;
        max-width: 27%;
        min-width: 280px;
        @include query(1200) {
            // flex: 0 0 calc(30% - 20px);
        }
        @include query(960){
            flex: 0 0 60%;
            max-width: 360px;
            margin: 0 auto;
        }
        @include query(540){
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}

.content{
    h2{
        background: #000 url(../images/bgline.png) no-repeat left center;
        background-size: 12px;
        position: relative;
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        padding: 15px 20px;
        padding-left: 32px;
        line-height: 1.4;
        margin: 60px 0;
    }
    h3{
        // font-size: 24px;
        // border-bottom: 3px solid #000;
        // padding-bottom: 20px;
        // line-height: 1.4;
        // position: relative;
        // margin-top: 60px;
        // margin-bottom: 45px;
        // &::after{
        //     position: absolute;
        //     content: '';
        //     background: #C8922B;
        //     width: 50px;
        //     left: 0;
        //     bottom: -3px;
        //     height: 3px;
        // }
        font-size: 22px;
        background: #EBEBEB url(../images/bgline.png) no-repeat left center;
        background-size: 8px;
        margin-top: 60px;
        margin-bottom: 45px;
        line-height: 1.4;
        padding: 12px 30px;
        + .boxlist,
        + .boxpanel,
        + .table,
        + table,
        + p{
            margin-top: 45px;
        }
    }
    .boxlist{
        background: #F0F0F0;
        padding: 30px 40px;
        margin-top: 60px;
        border-radius: 10px;
        ul{
            li{
                font-size: 17px;
                position: relative;
                padding-left: 25px;
                margin-bottom: 15px;
                &:last-child { 
                    margin-bottom: 0;
                }
                &::before {
                    content: '';
                    position: absolute;
                    background: #707070;
                    width: 8px;
                    height: 8px;
                    border-radius: 100%;
                    left: 0;
                    top: 10px;
                }
            }
            a{
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    .boxheading{
        margin: 60px 0;
        h3{
            background: none;
            margin: 0;
            padding: 20px 40px;
            background: #F0F0F0;
            display: inline-block;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            position: relative;
        }
        .boxlist{
            margin-top: -20px;
        }
    }
}

.p-contact{
    @include tableform(#fff, 27%, #fff, middle, 18px, 20px 0, 60px, #fff, #1D9BF0, #707070, $b_radius:10px);
    .table_template{
        margin-top: 30px;
    }
    .mt20{
        margin-top: 20px;
        font-size: 15px;
    }
    .vertitop th{
        vertical-align: top;
        padding-top: 37px;
    }
}

.p-sitemap{
    .content{
        .flexbox{
            align-items: flex-start;
            &:first-child{
                h3{
                    margin-top: 0;
                }
            }
        }
        .inbox{
            flex: 0 0 48%;
            max-width: 420px;
        }
    }
    .game, .pickup, .popular, .twitter{
        display: block;
    }
}

.p-category{
    .content{
        h2{
            &:first-child{
                margin-top: 0;
            }
        }
    }
}

.pager{
    justify-content: center;
    margin-top: 90px;
    &--item{
        margin: 0 8px;
        a{
            font-weight: bold;
            border: 1px solid #000;
            font-size: 24px;
            @include flexbox(center, center);
            height: 50px;
            padding: 0 17px;
        }
        &.active a,
        &:hover a{
            background: #000;
            color: #fff;
        }
        &:first-child { 
            
        }
        &:last-child { 
            
        }
    }
}

.author{
    &__info{
        justify-content: space-between;
        margin-bottom: 50px;
        &--img{
            flex: 0 0 130px;
            max-width: 130px;
            .img{
                width: 130px;
                height: 130px;
                overflow: hidden;
                border-radius: 100%;
            }
            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
            .txt{
                font-weight: bold;
                font-size: 18px;
                text-align: center;
                display: block;
                width: 130px;
                margin-top: 15px;
            }
        }
        &--txt{
            flex: 0 0 calc(100% - 160px);
            background: #FFE0E9;
            padding: 20px;
            border-radius: 15px;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                left: -18px;
                top: 30px;
                background: url(../images/polygon.svg) no-repeat;
                width: 26px;
                height: 24px;
            }
            p{
                font-size: 15px;
            }
        }
    }
    &__detail{
        margin-bottom: 120px;
        &--table{
            width: 100%;
            th,td{
                border: 1px solid #D0D0D0;
                padding: 30px;
                font-size: 15px;
            }
            th{
                background: #F0F0F0;
                width: 180px;
                text-align: left;
            }
            li{
                margin-right: 20px;
                img{
                    height: 20px;
                }
            }
            .tdmap{
                padding: 0;
                span{
                    padding: 30px;
                    display: block;
                }
            }
            .iframe{
                line-height: 0;
            }
        }
        &.operator{
            margin-bottom: 60px;
        }
    }
    &__view{
        margin-bottom: 100px;
        ul{
            padding: 0 50px;
        }
        &--writers{
            flex: 0 0 49%;
            display: none;
            margin-top: 30px;
            margin-right: 2%;
            .flexbox{
                justify-content: flex-start;
            }
            &:first-child ,
            &:nth-child(2) { 
                margin-top: 0;
            }
            &:nth-child(2n){
                margin-right: 0;
            }
        }
        &--img{
            flex: 0 0 140px;
            max-width: 140px;
            overflow: hidden;
            height: 140px;
            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        &--txt{
            padding-left: 20px;
            .name{
                font-size: 18px;
                font-weight: bold;
                color: #0028AF;
                text-decoration: underline;
                &:hover{
                    text-decoration: none;
                }
            }
            .txt{
                font-size: 16px;
                font-weight: bold;
                display: block;
                margin-top: 10px;
            }
        }
    }
    &__article{
        .listarticle--item{
            display: none;
        }
    }
}

.btnmore{
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    &.fadeOut{
        visibility: hidden;
        display: none;
    }
    span{
        background: url(../images/arrdown2.svg) no-repeat right 20px center;
        font-size: 17px;
        font-weight: bold;
        display: block;
        text-align: center;
        color: #0028AF;
        border: 2px solid #0028AF;
        border-radius: 45px;
        padding: 17px 0;
        cursor: pointer;
        transition: all .3s;
        @include minquery($pc){
            &:hover{
                background: #0028AF url(../images/arrdown2-white.svg) no-repeat right 20px center;
                color: #fff;
            }
        }
    }
}