extends ../../pug/layout.pug
block define
  - var pagelevel = 1
  - var secondpage = 1
  - var page = "privacy"
  - var textdemo = 0
//- EDIT ANOTHER 
block thebreadcrumb
  +breadcrumb("プライバシーポリシー")
block mainvs
  +headtitle("プライバシーポリシー")
block content
  section.container
    .content
      p 当サイト「Casimo（カジモ）」は、当サイトユーザーの個人情報の重要性を認識し、個人情報の取扱いに細心の注意を払っております。
      h2 個人情報の収集
      p 当サイトでは、ユーザーの任意において、必要最小限の個人情報を提供していただく場合があります。
      h2 個人情報の利用目的
      p ユーザーより当サイトに対して提供くださった個人情報は、利用されるサービス及び弊社業務の範囲内に限り使用いたします。また、各お申し込みや登録等の際、利用目的が別途記載されている場合は、その目的に従い使用いたします。
      h2 個人情報の保護
      p 当サイトは、ユーザーより当サイトに対し提供くださった個人情報を適切な方法で管理し、情報の紛失や漏洩などが起きないように細心の注意を払って取扱います。
      h2 個人情報の開示
      p 当サイトが収集したユーザーの個人情報は、次のいずれかに該当する場合を除き、ご本人様の事前の了解なく第三者に開示されることはありません。
      .boxlist 
        ul 
          li ユーザーの同意がある場合
          li ユーザーが希望されるサービスを行なうために当社が業務を委託する業者に対して開示する場合
          li 人の生命・身体の保護、又は財産の保護のために必要がある場合で、ユーザーの同意を得ることが困難である場合
          li 法令に基づき開示することが必要である場合
      h2 ユーザーご本人からの照会請求等
      p ユーザーが、当サイトに対し提供されたご自身の個人情報について照会や訂正をご希望の場合は、確認を取らせていただいた上で対処させていただきます。
      h2 他サイトから提供されるコンテンツ内における個人情報の取扱いについて
      p 当サイトには、他サイトまたは他社のコンテンツが掲載されている場合がございます(iFrame内のゲームコンテンツや広告等がそれに該当しますが、これらに限るものではありません)。ユーザーがこれらのコンテンツ内において個人情報をご提供になった場合、その収集・利用・管理はそのコンテンツを提供するサイトの個人情報保護によるものとし、当サイトはその収集・利用・管理において一切の責任を負いません。
      h2 当サイトご利用者の同意
      p 当サイトは、ユーザーが当サイトを利用されるにあたり、当サイトの個人情報保護方針に同意されているものと考えます。また当サイトに掲載されている情報のご利用については、ユーザーの責任において行われるものとします。<br><br>今後、このページに記載された内容が予告なく改訂・更新される可能性がありますので、ご了承下さい。
      h2 注意事項
      p 当サイトでは、細心の注意を払って安全に利用できるオンラインカジノをご紹介しておりますが、運営者やライセンス発行機関によって当サイトで紹介している情報と異なる事象が発生する可能性があることをあらかじめご了承ください。<br><br>また、当サイトは情報提供を目的としているため、オンラインカジノの日本での利用が合法であることを証明するものではありません。そのため、オンラインカジノはご自身の判断と責任の上でお楽しみください。

    +sidebar