extends ../../pug/layout.pug
block define
  - var pagelevel = 1
  - var secondpage = 1
  - var page = "category"
  - var textdemo = 0
//- EDIT ANOTHER 
block thebreadcrumb
  +breadcrumb("オンラインカジノ基礎編")
block mainvs
  +headtitle("オンラインカジノ基礎編")
block content
  section.container
    .content
      h2 オンラインカジノ基礎編の記事一覧
      ul.listarticle
        - for (i=1; i<6; i++)
          li.listarticle--item
            .row
              .img
                a(href="")
                  img(src="../images/article1.png", alt="")
              .text
                a(href="").tit 【2021年最新】オンラインカジノおすすめランキング…
                span.txt 2016年には「信頼性・安全性」の欠落が主な要因で日本で逮捕者が出てしまいました。
                dl.row
                  dt.ico-cal
                    span 公開日: 2022年00月00日
                  dt.ico-time
                    span 更新日: 2022年00月00日
          li.listarticle--item
            .row
              .img
                a(href="")
                  .lable
                    span.new NEW
                  img(src="../images/article2.png", alt="")
              .text
                a(href="").tit 【2021年最新】オンラインカジノおすすめランキング…
                span.txt 2016年には「信頼性・安全性」の欠落が主な要因で日本で逮捕者が出てしまいました。
                dl.row
                  dt.ico-cal
                    span 公開日: 2022年00月00日
                  dt.ico-time
                    span 更新日: 2022年00月00日
      ul.pager.flexbox
        li.pager--item.active
          a(href="")= 1
        - for (i=2; i<11; i++)
          li.pager--item
            a(href="")=i
        li.pager--item
          a(href="") >>

    +sidebar