a(href=dir+"contact/")    
    .mailtel.iconmail
        .hamburger_inside
            img(src=dirShare+"svg/iconmail.svg")
        if hastext == true
            .hastext Mail
a(href="tel:")    
    .mailtel
        .hamburger_inside
            img(src=dirShare+"svg/icontel_type2.svg")
        if hastext == true
            .hastext Tel