case type_nav
    when 2
        .hamburger.type2
            .hamburger_inside
                span
                span
                span
            if hastext == true
                .hastext Menu
    when 3 
        .hamburger.type3
            .hamburger_inside
                span
                span
                span
            if hastext == true
                .hastext Menu
    when 4
        .hamburger.type4
            .hamburger_inside
                span
                span
                span
            if hastext == true
                .hastext Menu
    default  
        .hamburger
            .hamburger_inside
                span
                span
                span  
            if hastext == true
                .hastext Menu