extends ../../pug/layout.pug
block define
  - var pagelevel = 1
  - var secondpage = 1
  - var page = "news"
  - var textdemo = 0
//- EDIT ANOTHER 
block thebreadcrumb
  +breadcrumb("オンラインカジノ基礎編")
block mainvs
  +headtitle("オンラインカジノ基礎編")
block content
  section.container
    .content
      //- h2 新着記事
      //- ul.flexbox.listarticle
      //-   li.listarticle-item
      //-     a(href="")
      //-       .img 
      //-         img(src="../images/article.png", alt="")
      //-       spam.tit 【2021年最新】オンラインカジノおすすめランキング…
      //-       span.txt 日本人気No.1のオンラインカジノといえばベラジョンカジノ。オンラインカジノファン・初心者共に楽しめるサービスが豊富…
      //-   li.listarticle-item
      //-     a(href="")
      //-       .img 
      //-         img(src="../images/article.png", alt="")
      //-       spam.tit 【2021年最新】オンラインカジノおすすめランキング…
      //-       span.txt 日本人気No.1のオンラインカジノといえばベラジョンカジノ。オンラインカジノファン・初心者共に楽しめるサービスが豊富…
      //-   li.listarticle-item
      //-     a(href="")
      //-       .img 
      //-         img(src="../images/article.png", alt="")
      //-       spam.tit 【2021年最新】オンラインカジノおすすめランキング…
      //-       span.txt 日本人気No.1のオンラインカジノといえばベラジョンカジノ。オンラインカジノファン・初心者共に楽しめるサービスが豊富…

      h2 オンラインカジノ基礎編の記事一覧
      ul.flexbox.listarticle
        - for (i=1; i<6; i++)
          li.listarticle-item
            .img
              a(href="")
                img(src="../images/article1.png", alt="")
            .text
              a(href="").tit 【2021年最新】オンラインカジノおすすめランキング…
              span.txt 2016年には「信頼性・安全性」の欠落が主な要因で日本で逮捕者が出てしまいました。
              dl.row
                dt
                  img(src="../images/ico-cal.svg", alt="")
                  span 公開日: 2022年00月00日
                dt
                  img(src="../images/ico-time.svg", alt="")
                  span 更新日: 2022年00月00日
          li.listarticle-item
            .img
              a(href="")
                span.lable NEW
                img(src="../images/article2.png", alt="")
            .text
              a(href="").tit 【2021年最新】オンラインカジノおすすめランキング…
              span.txt 2016年には「信頼性・安全性」の欠落が主な要因で日本で逮捕者が出てしまいました。
              dl.row
                dt
                  img(src="../images/ico-cal.svg", alt="")
                  span 公開日: 2022年00月00日
                dt
                  img(src="../images/ico-time.svg", alt="")
                  span 更新日: 2022年00月00日

    +sidebar