footer.footer
  .page_top_cont.noselect
    .page_top
      .to_top
        a(href='javascript:void(0)').lh00
          img(src=dirShare+'arrow/pagetop.png', alt='PAGE UP', width='60', height='60')
  .footbottom
    |©2019 EMC INC. ALL RIGHTS RESERVED.