mixin newstop()
  - var list = ["2017年度 業界別ベトtナム最新概況と工業団地セミナーを12/5(火) 東京 12/6(水) 愛知12/8(金)大阪で開催!!", "工業団地と各業界のベトナム概況セミナーを11月に日本で開催!!", "VIETJOニュース(4/22)で、INVEST ASIAが取り上げられました。", "Web版Invest Asiaがオープンしました。", "Invest Asia Vol.2を発刊致しました。"]
    each item in list
      dl
        dt 2019.11.06v
        dd
          a(href=dir+"news")=item