@import "../components/mixins";

.header{
  background: #000;
  background-size: 100%;
  border-bottom: 3px solid #fff;
  padding-top: 35px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    background: url(../images/linehd.png) no-repeat top center;
    background-size: cover;
    height: 8px;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
  }
  @include query($tab){
    padding: 14px 0 10px;
    border-bottom: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    &::before {
      height: 5px;
    }
  }
  &_top{
    &_logo{
      position: relative;
      z-index: 1;
      a{
        line-height: 0;
      }
      @include query($tab) {
        flex: 0 0 50%;
        img{
          height: 27px;
        }
      }
      @include query(420) {
        flex: 0 0 70%;
      }
    }
    &_icon{
      flex: 1 1 auto;
      @include flexbox(flex-end, center);
      @include query($tab) {
        flex: 0 0 50%;
      }
      @include query(420) {
        flex: 0 0 30%;
      }
    }
    // &_menu{
    //   .header_nav{
    //     flex: 1;
    //     position: inherit;
    //   }
    // }
  }
  &_nav{
    position: relative;
    z-index: 98;
    @include minquery(1200) {
      height: 71px;
      margin-top: 28px;
    }
    @include query($tab){
    }
    &_inside{
      background: #fff;
      border: 1px solid #fff;
      height: 100%;
      &.container{
        padding: 0;
      }
      @include minquery($pc) {
        min-width: inherit;
      }
      @include query($tab) {
        height: 100vh;
        border: 0;
				position: fixed;
				// left: -100%;
				top: 0;
				padding: 0;
        opacity: 0;
				visibility: hidden;
				transition: all .3s ease;
        // background: rgba($color: #000000, $alpha: 0.85);
        
        background: url(../images/bgmenu.jpg) no-repeat top 50px center;
        background-size: cover;
        height: 100vh;
        &::after {
          content: '';
          background: rgba($color: #000000, $alpha: 0.85);
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }
			}
    }
  }
  .icon{
    margin-left: 5px;
    @include query($sp) {
      margin-left: 10px;
    }
    &_inside, &-hamburger {
      position: relative;
      cursor: pointer;
      @include flexbox(center, center);
      width: 35px;
      height: 35px;
      // background: $cl;
      transition: all .3s;
      @include minquery($pc) {
        &:hover {
          background: color($cl, 10);
          @include transition_cubic(background);
        }
      }
      @include query($sp) {
        margin-right: -10px;
      }
    }
    &-hamburger{
      z-index: 99;
      .icon-bar {
        span {
          left: 0;
          height: 2px;
          position: absolute;
          background: #fff;
          display: inline-block;
          width: 100%;
          border-radius: 3px;
          @include transition(.4s);
          &:first-child {
            top: 0;
          }
          &:nth-child(2) {
            @include centerver;
          }
          &:last-child {
            bottom: 0;
          }
        }
      }
    }
    &-img, &-bar{
      position: relative;
      @include flexbox(center, center);
      height: 70%;
      width: 100%;
      img{
        max-width: 30px;
      }
    }
  }
  .boxsearch{
    position: relative;
    width: 345px;
    input{
      background: #fff;
      width: 345px;
      height: 48px;
      border-radius: 30px;
      border: 0;
      padding: 10px;
      padding-right: 50px;
    }
    button{
      position: absolute;
      right: 8px;
      top: 50%;
      width: 36px;
      height: 36px;
      margin-top: -18px;
      background: #000;
      border-radius: 100%;
    }
  }
  .icon-hamburger {
		@include minquery($pc) {
			display: none;
		}
	}
}

.menu-open {
  position: relative;
  @include query($tab){
  }
  .header_top_logo{
    z-index: 99;
  }
  .header_nav {
    &.show{
      .header_nav_inside{
        // left: 0;
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .icon-hamburger{
    .icon-bar{
      span {
        &:nth-child(1) {
          transform: translateY(12px) rotate(-225deg);
        }
        &:nth-child(2) {
          transform: translateY(0) rotate(225deg);
          width: 100%;
        }
        &:nth-child(3) {
          opacity: 0;
        }
      }
    }
  }
}