@import "../components/mixins";

.nav-list {
	@include minquery($pc) {
		@include flexbox(space-between, center);
		background: #fff;
	}
	@include query($tab) {
		height: 100vh;
		width: 100%;
		padding: 10vh 20px;
		overflow-y: scroll;
		position: fixed;
		z-index: 9;
		border-top: 60px solid #000;
		// background: rgba($color: #000000, $alpha: 0.85);
		// &::after {
		// 	content: '';
		// 	background: rgba($color: #000000, $alpha: 0.85);
		// 	position: absolute;
		// 	left: 0;
		// 	top: 0;
		// 	width: 100%;
		// 	height: 100%;
		// 	z-index: -1;
		// }
	}
	&-item {
		@include minquery($pc){
			padding: 12px 0;
			flex: 1 1 auto;
			position: relative;
			align-self: stretch;
			&::after{
				content: '';
				position: absolute;
				background: #000;
				width: 1px;
				left: 0;
				top: 50%;
				height: 36px;
				margin-top: -18px;
			}
			&.notnav{
				background: #000 url(../images/arrmenu.png) no-repeat right 5px center;
				max-width: 165px;
				color: #fff;
				font-weight: 600;	
				padding-left: 10px;
				@include flexbox(flex-start, center);
				letter-spacing: 2px;
				&::after{
					background: none;
				}
				span{
					line-height: 1;
					height: 14px;
					img{
						height: 14px;
					}
				}
			}
			&:nth-child(2){
				&::after{
					background: none;
				}
				a{
					background: none;
					padding: 16px 0;
					&:hover{
						background: none;
					}
				}
			}
		}
		@include query($tab) {
			border-bottom: 1px solid #fff;
			&:nth-child(2){
				border-bottom: 0;
			}
			&.notnav { 
				display: none;
			}
		}
		a {
			font-size: 14px;
			font-weight: bold;
			line-height: 1;
			color: $cl;
			text-decoration: none;
			display: block;
			padding: 10px 0 22px;
			text-align: center;
			background: url(../images/arrdown.svg) no-repeat center bottom 6px;
			background-size: 11px;
			@include query($tab) {
				padding: 20px 0;
				text-align: left;
				font-size: 20px;
				color: #fff;
				background: none;
				padding-right: 35px;
				background: url(../images/arrmenu.png) no-repeat right center;
			}
			@include minquery($pc) {
				&:hover {
					opacity: 0.7;
					background: url(../images/polygon.png) no-repeat;
					background-position: center bottom;
				}
			}
		}
		@include minquery($pc){
			&:nth-child(4),
			&:nth-child(7){
				.childmenu{
					min-width: 280px;
				}
			}
			&:nth-child(5){
				.childmenu{
					min-width: 300px;
				}
			}
		}
	}
	.megamenu{
		@include query($tab) {
			> a{
				background: none;
				position: relative;
				@include plusicon(#fff);
			}
		}
	}
	.dropdown{
		position: relative;
	}
	.childmenu{
		display: none;
		@include query($sp){
			padding-bottom: 15px;
			.nav-list-item{
				border-bottom: 0 !important;
			}
		}
		@include minquery($pc){
			padding: 20px;
			min-width: 210px;
			position: absolute;
			left: 4%;
			background: #000;
			&::after {
				content: '';
				position: absolute;
				width: calc(100%);
				height: calc(100%);
				background: url(../images/bgnavsub.png), url(../images/bgnavsub.png);
				background-repeat: repeat-y, repeat-y;
				background-position: left top, right top;
				left: 0;
				top: 0;
				z-index: 1;
			}
			&::before {
				content: '';
				position: absolute;
				width: calc(100%);
				height: calc(100%);
				background: url(../images/bgnavsub2.png), url(../images/bgnavsub2.png);
				background-repeat: repeat-x, repeat-x;
				background-position: left top, left bottom;
				left: 0;
				top: 0;
				z-index: 1;
			}
		}
		li{
			margin: 0;
			padding: 0;
			animation: none;
			&::after {
				background: none;
			}
			a{
				background: none;
				padding: 12px 0;
				color: #fff;
				position: relative;
				z-index: 9;
				@include minquery($pc){
					text-align: left;
					&:hover { 
						opacity: 1;
						color: #E4C97D;
					}
				}
				@include query($tab){
					font-size: 18px;
					padding-right: 35px;
					&::before {
						content: '- ';
					}
				}
				@include query(420){
					font-size: 16px;
				}
			}
		}
	}
}

// .header_nav_dropdown{
// 	.nav-list{
// 		//IF WANT SET FULL BACKGROUND REMOVE COMMENT POSITION UNDER
// 		//position: relative;
// 		> li {
// 			&.dropdown{
// 				position: relative;
// 			}
// 		}
// 		.childmenu{
// 			display: none;
// 			overflow: hidden;
// 			@include minquery($pc) {
// 				position: absolute;
// 				left: 0;
// 				z-index: 9;
// 				background: #f1f1f1;
// 				min-width: 200px;
// 			}
// 			li{
// 				@include query($sp) {
// 					&:first-child {
// 						border-top: 1px solid #ccc;
// 					}
// 					&:last-child {
// 						border-bottom: none;
// 					}
// 				}
// 				a{
// 					text-align: left;
// 					padding: 15px 10px;
// 				}
// 			}
// 		}
// 		.megamenu{
// 			> a{
// 				@include query($sp) {
// 					position: relative;
// 					@include plusicon(#000);
// 				}
// 			}
// 			&_inside{
// 				width: 100%;
// 			}
// 			&_list{
// 				@include minquery($pc) {
// 					@include flexbox(space-between, center);
// 					//IF DONT WANT SET MAX WIDTH REMOVE UNDER
// 					max-width: 1000px;
// 					margin: 0 auto;
// 				}
// 			}
// 			&_col{
// 				@include minquery($pc) {
// 					flex: 0 0 25%;
// 					padding: 10px 20px;
// 				}
// 				@include query($sp) {
// 					li a{
// 						padding-left: 20px;
// 					}
// 				}
// 			}
// 			&_title{
// 				color: #000;
// 				font-size: 16px;
// 				display: block;
// 				line-height: 1;
// 				text-align: left;
// 				@include minquery($pc) {
// 					padding: 10px 0;
// 				}
// 				@include query($sp) {
// 					padding: 15px 10px;
// 				}
// 			}
// 		}
// 	}
// }