footer.footer
  .container.footer-nav
    - for (i=1;i<9;i++)
      ul.listnav
        li.listnav-item − オンラインカジノ最新情報
        li.listnav-item
          a(href="") 悪質なオンラインカジノに要注意！詐欺やイカサマを見分ける方法
        li.listnav-item
          a(href="") オンラインカジノとは？違法性や安全性・評判を徹底的に調べてみた
        li.listnav-item
          a(href="") カジノの還元率は高い？FXや宝くじと徹底比較｜稼げる理由も解説
        li.listnav-item
          a(href="") 悪質なオンラインカジノに要注意！詐欺やイカサマを見分ける方法
        li.listnav-item
          a(href="") オンラインカジノとは？違法性や安全性・評判を徹底的に調べてみた
        li.listnav-item
          a(href="") カジノの還元率は高い？FXや宝くじと徹底比較｜稼げる理由も解説
  .footer-info
    .text_center
      img(src=dirShare+"certify-gpwa.png", alt="GPWA")
    .logo
      a(href=dir+'')
        img(alt='CASIMO', src=dirShare+'logoft.png')
    p Copyright© Casimo（カジモ） All Rights Reserved.
    
  //- .backtop
  //-   .backtop-icon
  //-     a(href='javascript:void(0)').lh00
  //-       img(src=dirShare+'backtop.png', alt='PAGE UP')