-var bodyclass1 = "homepage";
-var bodyclass2 = "secondpage page-"+page;
    if(pagelevel == 0)
        -var bodyclass = bodyclass1
    if(pagelevel == 1 || pagelevel == 2)
        -var bodyclass = bodyclass2