if pagelevel == 0
  mixin mv()
    .owl-carousel.carousel-slider.owl-theme
      - for (var i=1; i<4; i++)
        .item-owl
          .bgmv(style='background-image:url('+dir+'images/mv0'+i+'.jpg)')
if pagelevel == 1
  +headtitle(title,dirImage+'imghead.jpg')