footer.footer
  .container.footer-nav
    ul.listnav
      li.listnav-item.acr_tit − 人気オンラインカジノ比較
      ul.sublistnav
        li.listnav-item
          a(href="") ベラジョンカジノ
        li.listnav-item
          a(href="") ミスティーノ
        li.listnav-item
          a(href="") インターカジノ
        li.listnav-item
          a(href="") カジノシークレット
        li.listnav-item
          a(href="") 遊雅堂
        li.listnav-item
          a(href="") ビットカジノ
        li.listnav-item
          a(href="") ラッキーニッキーカジノ
        li.listnav-item
          a(href="") カジ旅
    ul.listnav
      li.listnav-item.acr_tit − オンラインカジノ基礎編
      ul.sublistnav
        li.listnav-item
          a(href="") オンラインカジノとは？
        li.listnav-item
          a(href="") オンラインカジノは違法？合法？
        li.listnav-item
          a(href="") オンラインカジノと税金の関係性
        li.listnav-item
          a(href="") オンラインカジノは稼げる？
        li.listnav-item
          a(href="") 悪質なオンラインカジノの見分け方
    ul.listnav
      li.listnav-item.acr_tit − オンラインカジノ応用編
      ul.sublistnav
        li.listnav-item
          a(href="") オンラインカジノの登録方法
        li.listnav-item
          a(href="") オンラインカジノへ入金・出金する方法
        li.listnav-item
          a(href="") オンラインカジノから出金する方法
        li.listnav-item
          a(href="") オンラインカジノのボーナスについて
        li.listnav-item
          a(href="") ライブカジノとテーブルゲームについて
        li.listnav-item
          a(href="") オンラインカジノを無料で遊ぶ方法
        li.listnav-item
          a(href="") オンラインカジノで負けないためには？
    ul.listnav
      li.listnav-item.acr_tit − カジノゲームの遊び方
      ul.sublistnav
        li.listnav-item
          a(href="") バカラ
        li.listnav-item
          a(href="") ブラックジャック
        li.listnav-item
          a(href="") ビデオスロット
        li.listnav-item
          a(href="") ポーカー
        li.listnav-item
          a(href="") ルーレット
        li.listnav-item
          a(href="") シックポー
        li.listnav-item
          a(href="") スポーツベット
    ul.listnav
      li.listnav-item.acr_tit − オンラインカジノで使える決済方法
      ul.sublistnav
        li.listnav-item
          a(href="") クレジットカード・デビットカード
        li.listnav-item
          a(href="") ecoPayz（エコペイズ）
        li.listnav-item
          a(href="") VenusPoint（ヴィーナスポイント）
        li.listnav-item
          a(href="") iWallet（アイウォレット）
        li.listnav-item
          a(href="") STICPAY（スティックペイ）
        li.listnav-item
          a(href="") Bitcoin（ビットコイン）
    ul.listnav
      li.listnav-item.acr_tit − その他
      ul.sublistnav
        li.listnav-item
          a(href="") カジノ法案
        li.listnav-item
          a(href="") 世界のカジノ
        li.listnav-item
          a(href="") カジノ攻略法・必勝法
        li.listnav-item
          a(href="") カジモ編集部のご紹介
        li.listnav-item
          a(href="") プライバシーポリシー
        li.listnav-item
          a(href="") お問い合わせ
  .footer-info
    .text_center
      img(src=dirShare+"certify-gpwa.png", alt="GPWA")
    .logo
      a(href=dir+'')
        img(alt='CASIMO', src=dirShare+'logoft.png')
    p Copyright© Casimo（カジモ） All Rights Reserved.
    
  //- .backtop
  //-   .backtop-icon
  //-     a(href='javascript:void(0)').lh00
  //-       img(src=dirShare+'backtop.png', alt='PAGE UP')