extends ../pug/layout.pug
block define
  - var pagelevel = 0;
  - var page = "top";
  - var effectscroll = 0
  - var preload = 0
  - var carousel = 0
  - var slickslider = 0
//-block append head
  //- ADD LINK && JS
  //- link(rel="stylesheet" href=dir+'css/css.css') 
block content
  .container
    //+mv()
block append script
  script.
    $(document).ready(function(){
      
    });