extends ../pug/layout.pug
block define
  - var pagelevel = 0;
  - var page = "top";
  - var effectscroll = 0
  - var preload = 0
  - var carousel = 0
  - var slickslider = 0
//-block append head
  //- ADD LINK && JS
  //- link(rel="stylesheet" href=dir+'css/css.css') 
block content
  section.banner
    .container
      h1.banner-tit 日本最大級の<br>オンラインカジノメディア
  section.block.block__ranking
    .container
      h2.fontspec.block--tit RANKING
        span おすすめオンラインカジノランキング
      .block__ranking--slider
        .block__ranking--item
          .img
            img(src="./images/ranking1.jpg", alt="")
          .txt
            .rate
              .rate--icon
                img(src="./images/ranknum1.png", alt="")
              .rate--content
                span.rate--star
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span class="rate--percent" style="width:92%">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </span>
                span.rate--num 4.6
            h3 ベラジョンカジノ
            p 日本人気No.1のオンラインカジノといえばベラジョンカジノ。オンラインカジノファン・初心者共に楽しめるサービスが豊富で、圧倒的な人気を誇っています。
            .btnpage.bgorg
              a(href="")
                span エルドアカジノを<br>今すぐ無料プレイ！
            .btnpage.bggray
              a(href="")
                span エルドアカジノを<br>詳しく見る
        .block__ranking--item
          .img
            img(src="./images/ranking2.jpg", alt="")
          .txt
            .rate
              .rate--icon
                img(src="./images/ranknum1.png", alt="")
              .rate--content
                span.rate--star
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span class="rate--percent" style="width:80%">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </span>
                span.rate--num 4
            h3 ミスティーノカジノ
            p 日本人気No.1のオンラインカジノといえばベラジョンカジノ。オンラインカジノファン・初心者共に楽しめるサービスが豊富で、圧倒的な人気を誇っています。
            .btnpage.bgorg
              a(href="")
                span エルドアカジノを<br>今すぐ無料プレイ！
            .btnpage.bggray
              a(href="")
                span エルドアカジノを<br>詳しく見る
        .block__ranking--item
          .img
            img(src="./images/ranking3.jpg", alt="")
          .txt
            .rate
              .rate--icon
                img(src="./images/ranknum1.png", alt="")
              .rate--content
                span.rate--star
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span class="rate--percent" style="width:60%">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </span>
                span.rate--num 3
            h3 カジノシークレット
            p 日本人気No.1のオンラインカジノといえばベラジョンカジノ。オンラインカジノファン・初心者共に楽しめるサービスが豊富で、圧倒的な人気を誇っています。
            .btnpage.bgorg
              a(href="")
                span エルドアカジノを<br>今すぐ無料プレイ！
            .btnpage.bggray
              a(href="")
                span エルドアカジノを<br>詳しく見る
        .block__ranking--item
          .img
            img(src="./images/ranking4.jpg", alt="")
          .txt
            .rate
              .rate--icon
                img(src="./images/ranknum1.png", alt="")
              .rate--content
                span.rate--star
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span class="rate--percent" style="width:40%">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </span>
                span.rate--num 2
            h3 エルドアカジノ
            p 日本人気No.1のオンラインカジノといえばベラジョンカジノ。オンラインカジノファン・初心者共に楽しめるサービスが豊富で、圧倒的な人気を誇っています。
            .btnpage.bgorg
              a(href="")
                span エルドアカジノを<br>今すぐ無料プレイ！
            .btnpage.bggray
              a(href="")
                span エルドアカジノを<br>詳しく見る
      .btnpage
        a(href="")
          span おすすめオンラインカジノランキングはこちら
  section.block.block__bonus
    .container
      h2.fontspec.block--tit BONUS
        span 限定ボーナス
      ul.block__bonus--list
        li.block__bonus--item
          img(src="./images/bonus1.jpg", alt="")
        li.block__bonus--item
          img(src="./images/bonus2.jpg", alt="")
        li.block__bonus--item
          img(src="./images/bonus3.jpg", alt="")
        li.block__bonus--item
          img(src="./images/bonus4.jpg", alt="")
        li.block__bonus--item
          img(src="./images/bonus5.jpg", alt="")
        li.block__bonus--item
          img(src="./images/bonus6.jpg", alt="")
  section.block.block__search
    .container
      h2.fontspec.block--tit SEARCH
        span 特徴別オンラインカジノ比較
      ul.block__search--list
        li.block__search--btn
          a(href="")
            img(src="./images/ico-search1.svg", alt="出金スピード")
            span 出金スピード
        li.block__search--btn
          a(href="")
            img(src="./images/ico-search2.svg", alt="入金不要ボーナス")
            span 入金不要ボーナス
        li.block__search--btn
          a(href="")
            img(src="./images/ico-search3.svg", alt="リベートボーナス")
            span リベートボーナス
        li.block__search--btn
          a(href="")
            img(src="./images/ico-search4.svg", alt="初心者向け")
            span 初心者向け
        li.block__search--btn
          a(href="")
            img(src="./images/ico-search5.svg", alt="ハイローラー向け")
            span ハイローラー向け
        li.block__search--btn
          a(href="")
            img(src="./images/ico-search6.svg", alt="仮想通貨")
            span 仮想通貨
  section.block.block__bonus
    .container
      h2.fontspec.block--tit PAYMENT
        span オンラインカジノで使える決済方法
  section.block.block__cate
    .container.flexbox
      .block__popular
        h2.fontspec.block--tit POPULAR
          span 人気記事一覧
      .block__new
        h2.fontspec.block--tit POPULAR
          span 新着記事一覧
  section.block.block_games
    .container
      h2.fontspec.block--tit GAMES
        span オンラインカジノで遊べるカジノゲーム
  section.block.block_games
    .container
      h2.fontspec.block--tit ABOUT
        span Casimoについて