extends ../../pug/layout.pug
block define
  - var pagelevel = 1
  - var secondpage = 1
  - var page = "detail"
  - var textdemo = 0
//- EDIT ANOTHER 
block thebreadcrumb
  +breadcrumb("オンラインカジノ基礎編","【2018年完全版】日本語対応オンラインカジノ全40サイトを徹底比較したオンラインカジノランキング")
//- block mainvs
//-   +headtitle("オンラインカジノ基礎編")
block content
  section.container
    article.content.post
      h1.post--title （H1）2022年完全版日本語対応オンラインカジノ全40サイトを徹底比較したオンラインカジノランキング
      .post--info
        dl.row
          dt.ico-cal
            span 公開日: 2022年00月00日
          dt.ico-time
            span 更新日: 2022年00月00日
        ul.social
          li.social--item
            a(href="" rel="nofollow" target="_Blank")
              img(src="../images/twitter-blue.svg", alt="Facebook")
          li.social--item
            a(href="" rel="nofollow" target="_Blank")
              img(src="../images/b.svg", alt="B!")
          li.social--item
            a(href="" rel="nofollow" target="_Blank")
              img(src="../images/line.svg", alt="Line")
          li.social--item
            a(href="" rel="nofollow" target="_Blank")
              img(src="../images/facebook-blue.svg", alt="Facebook")
      .post--thumbnail
        img(src="../images/imgdum.jpg", alt="")
      .post--detail
        p Casimo編集部では日本語対応している40のオンラインカジノを徹底比較してランキングを作成しています。<br>評価基準は6つあり、その中でも海外のオンラインカジノで遊ぶ上で最も重要になる「信頼性・安全性」を重視しています。2016年には「信頼性・安全性」の欠落が主な要因で日本で逮捕者が出てしまいました。また、相手が見えないインターネット上の取引ですので、知らずに詐欺などの事件に巻き込まれてしまう可能性もあります。<br>そこでCasimo編集部ではライセンスや実際のプレイ環境などを重視して、特に安心して遊べるオンラインカジノを上位にしています。
        h2 （H2）2022年完全版日本語対応オンラインカジノ全40サイトを徹底比較したオンラインカジノランキング
        .author__info
          .author__info--img
            .img
              img(src="../images/person.png", alt="")
            span.txt 笠原　豪
          .author__info--txt
            p Casimo編集部では日本語対応している40のオンラインカジノを徹底比較してランキングを作成しています。評価基準は6つあり、その中でも海外のオンラインカジノで遊ぶ上で最も重要になる「信頼性・安全性」を重視しています。
        .author__info
          .author__info--img
            .img
              img(src="../images/person.png", alt="")
            span.txt 笠原　豪
          .author__info--txt
            p 2016年には「信頼性・安全性」の欠落が主な要因で日本で逮捕者が出てしまいました。また、相手が見えないインターネット上の取引ですので、知らずに詐欺などの事件に巻き込まれてしまう可能性もあります。<br>そこでCasimo編集部ではライセンスや実際のプレイ環境などを重視して、特に安心して遊べるオンラインカジノを上位にしています。
        .author__info
          .author__info--img
            .img
              img(src="../images/person.png", alt="")
            span.txt 笠原　豪
          .author__info--txt
            p Casimo編集部では日本語対応している40のオンラインカジノを徹底比較してランキングを作成しています。評価基準は6つあり、その中でも海外のオンラインカジノで遊ぶ上で最も重要になる「信頼性・安全性」を重視しています。
        #toc_container
          p.toc_title.acr_title 目次
          ul.toc_list.acr_con
            li
              a(href="") カジノ法案のメリット・デメリット
              ul
                li
                  a(href="") カジノ法案の3つのメリット
                li
                  a(href="") カジノ法案によるデメリット・問題点
            li
              a(href="") 日本のカジノ候補地一覧
            li
              a(href="") 日本にカジノはいつできるのか？オープンするまでの流れを振り返ってみた
            li
              a(href="") カジノ法案と賭博
            li
              a(href="") 日本のカジノで採用されるであろうゲーム
              ul
                li
                  a(href="") バカラ
                li
                  a(href="") ブラックジャック
                li
                  a(href="") ルーレット
                li
                  a(href="") スロット
            li
              a(href="") 日本のカジノに入場制限は設けられるのか？
              ul 
                li
                  a(href="") 日本人の入場料は6,000円
                li
                  a(href="") 日本のカジノは21歳から入場できる
            li
              a(href="") 【まとめ】カジノ法案を理解しておくのは非常に重要
        h2 （H2）2022年完全版日本語対応オンラインカジノ全40サイトを徹底比較したオンラインカジノランキング
        p Casimo編集部では日本語対応している40のオンラインカジノを徹底比較してランキングを作成しています。<br>評価基準は6つあり、その中でも海外のオンラインカジノで遊ぶ上で最も重要になる「信頼性・安全性」を重視しています。2016年には「信頼性・安全性」の欠落が主な要因で日本で逮捕者が出てしまいました。また、相手が見えないインターネット上の取引ですので、知らずに詐欺などの事件に巻き込まれてしまう可能性もあります。<br>そこでCasimo編集部ではライセンスや実際のプレイ環境などを重視して、特に安心して遊べるオンラインカジノを上位にしています。
        h3 （H3）オンラインカジノで使えるおすすめ決済方法
        p Casimo編集部では日本語対応している40のオンラインカジノを徹底比較してランキングを作成しています。<br>評価基準は6つあり、その中でも海外のオンラインカジノで遊ぶ上で最も重要になる「信頼性・安全性」を重視しています。2016年には「信頼性・安全性」の欠落が主な要因で日本で逮捕者が出てしまいました。また、相手が見えないインターネット上の取引ですので、知らずに詐欺などの事件に巻き込まれてしまう可能性もあります。<br>そこでCasimo編集部ではライセンスや実際のプレイ環境などを重視して、特に安心して遊べるオンラインカジノを上位にしています。
        h4 （H4）オンラインカジノで使えるおすすめ決済方法
        p Casimo編集部では日本語対応している40のオンラインカジノを徹底比較してランキングを作成しています。<br>評価基準は6つあり、その中でも海外のオンラインカジノで遊ぶ上で最も重要になる「信頼性・安全性」を重視しています。2016年には「信頼性・安全性」の欠落が主な要因で日本で逮捕者が出てしまいました。また、相手が見えないインターネット上の取引ですので、知らずに詐欺などの事件に巻き込まれてしまう可能性もあります。<br>そこでCasimo編集部ではライセンスや実際のプレイ環境などを重視して、特に安心して遊べるオンラインカジノを上位にしています。
        ul.textlink
          li
            a(href="") 『カジノ法案の3つのメリット』を詳しく見る
          li
            a(href="") 『カジノ法案の3つのメリット』を詳しく見る
          li
            a(href="") 『カジノ法案の3つのメリット』を詳しく見る
        p Casimo編集部では日本語対応している40のオンラインカジノを徹底比較してランキングを作成しています。<br>評価基準は6つあり、その中でも海外のオンラインカジノで遊ぶ上で最も重要になる「信頼性・安全性」を重視しています。2016年には「信頼性・安全性」の欠落が主な要因で日本で逮捕者が出てしまいました。また、相手が見えないインターネット上の取引ですので、知らずに詐欺などの事件に巻き込まれてしまう可能性もあります。<br>そこでCasimo編集部ではライセンスや実際のプレイ環境などを重視して、特に安心して遊べるオンラインカジノを上位にしています。
        ul
          li 大人も子供も楽しめる観光地（統合型リゾート）
          li 世界の人々に日本の魅力を伝えながら、インバウンドの恩恵を全国に行き渡らせる
          li カジノに入場できるのは競艇・競輪などの公営ギャンブルと同じ21歳以上
          li 日本のカジノでも他国同様、ドレスコードが設けられる可能性が高い
          li カジノ法案を理解しておくのは非常に重要
        ol
          li 大人も子供も楽しめる観光地（統合型リゾート）
          li 世界の人々に日本の魅力を伝えながら、インバウンドの恩恵を全国に行き渡らせる
          li カジノに入場できるのは競艇・競輪などの公営ギャンブルと同じ21歳以上
          li 日本のカジノでも他国同様、ドレスコードが設けられる可能性が高い
          li カジノ法案を理解しておくのは非常に重要
        h2 （H2）2022年完全版日本語対応オンラインカジノ全40サイトを徹底比較したオンラインカジノランキング
        p Casimo編集部では日本語対応している40のオンラインカジノを徹底比較してランキングを作成しています。<br>評価基準は6つあり、その中でも海外のオンラインカジノで遊ぶ上で最も重要になる「信頼性・安全性」を重視しています。2016年には「信頼性・安全性」の欠落が主な要因で日本で逮捕者が出てしまいました。また、相手が見えないインターネット上の取引ですので、知らずに詐欺などの事件に巻き込まれてしまう可能性もあります。<br>そこでCasimo編集部ではライセンスや実際のプレイ環境などを重視して、特に安心して遊べるオンラインカジノを上位にしています。
        h3 （H3）オンラインカジノで使えるおすすめ決済方法
        table.wp-block-advgb-table.is-style-default
          tbody
            tr
              td 大阪府・大阪市【夢洲】
              td IR施設全体の延べ面積約77平方メートルのうち3%以内の広さとなる予定です
              td テーマを変えた3ブランドのホテル建設や、MICE施設の強化などが計画されています。
            tr
              td 大阪府・大阪市【夢洲】
              td IR施設全体の延べ面積約77平方メートルのうち3%以内の広さとなる予定です
              td テーマを変えた3ブランドのホテル建設や、MICE施設の強化などが計画されています。
        table.wp-block-advgb-table.is-style-lefthead
          tbody
            tr
              td 大阪府・大阪市【夢洲】
              td IR施設全体の延べ面積約77平方メートルのうち3%以内の広さとなる予定です
              td テーマを変えた3ブランドのホテル建設や、MICE施設の強化などが計画されています。
            tr
              td 大阪府・大阪市【夢洲】
              td IR施設全体の延べ面積約77平方メートルのうち3%以内の広さとなる予定です
              td テーマを変えた3ブランドのホテル建設や、MICE施設の強化などが計画されています。
        table.wp-block-advgb-table.is-style-tophead
          tbody
            tr
              td 候補地名
              td 初期投資額
              td 施設規模
            tr
              td 大阪府・大阪市【夢洲】
              td IR施設全体の延べ面積約77平方メートルのうち3%以内の広さとなる予定です
              td テーマを変えた3ブランドのホテル建設や、MICE施設の強化などが計画されています。
            tr
              td 大阪府・大阪市【夢洲】
              td IR施設全体の延べ面積約77平方メートルのうち3%以内の広さとなる予定です
              td テーマを変えた3ブランドのホテル建設や、MICE施設の強化などが計画されています。
        table.wp-block-advgb-table.is-style-lefttophead
          tbody
            tr
              td 候補地名
              td 初期投資額
              td 施設規模
            tr
              td 大阪府・大阪市【夢洲】
              td IR施設全体の延べ面積約77平方メートルのうち3%以内の広さとなる予定です
              td テーマを変えた3ブランドのホテル建設や、MICE施設の強化などが計画されています。
            tr
              td 大阪府・大阪市【夢洲】
              td IR施設全体の延べ面積約77平方メートルのうち3%以内の広さとなる予定です
              td テーマを変えた3ブランドのホテル建設や、MICE施設の強化などが計画されています。
        .wp-block-uagb-section.scrolltable
          .uagb-section__inner-wrap
            table.wp-block-advgb-table.is-style-lefttophead
              tbody
                tr
                  td 候補地名
                  td 初期投資額
                  td 施設規模
                tr
                  td 大阪府・大阪市【夢洲】
                  td IR施設全体の延べ面積約77平方メートルのうち3%以内の広さとなる予定です
                  td テーマを変えた3ブランドのホテル建設や、MICE施設の強化などが計画されています。
                tr
                  td 大阪府・大阪市【夢洲】
                  td IR施設全体の延べ面積約77平方メートルのうち3%以内の広さとなる予定です
                  td テーマを変えた3ブランドのホテル建設や、MICE施設の強化などが計画されています。
                tr
                  td 大阪府・大阪市【夢洲】
                  td IR施設全体の延べ面積約77平方メートルのうち3%以内の広さとなる予定です
                  td テーマを変えた3ブランドのホテル建設や、MICE施設の強化などが計画されています。
                tr
                  td 大阪府・大阪市【夢洲】
                  td IR施設全体の延べ面積約77平方メートルのうち3%以内の広さとなる予定です
                  td テーマを変えた3ブランドのホテル建設や、MICE施設の強化などが計画されています。
        table.wp-block-advgb-table.is-style-tophead
          tbody
            tr
              td 候補地名
              td 候補地名
            tr
              td IR施設全体の延べ面積約77平方メートルのうち3%以内の広さとなる予定です
              td テーマを変えた3ブランドのホテル建設や、MICE施設の強化などが計画されています。
            tr
              td IR施設全体の延べ面積約77平方メートルのうち3%以内の広さとなる予定です
              td テーマを変えた3ブランドのホテル建設や、MICE施設の強化などが計画されています。
        table.wp-block-advgb-table.is-style-tophead
          tbody
            tr
              td 候補地名
              td 初期投資額
              td 候補地名
              td 初期投資額
            tr
              td 大阪府・大阪市【夢洲】
              td 約1兆800億円
              td 面積約77平方メートルのうち3%以内
              td 約1兆800億円
            tr
              td 大阪府・大阪市【夢洲】
              td 約1兆800億円
              td 面積約77平方メートルのうち3%以内
              td 約1兆800億円
        table.wp-block-advgb-table.is-style-lefthead
          tbody
            tr
              td カジノ名
              td 約1兆800億円を開発予算として投じ、テーマを変えた3ブランドのホテル建設や、MICE施設の強
            tr
              td 運営会社
              td 約1兆800億円を開発予算として投じ、テーマを変えた3ブランドのホテル建設や、MICE施設の強化などが計画されています。カジノ施設の詳細な内容についてはまだ公表されていませんが、IR
            tr
              td 設立
              td 約1兆800億円を開発予算として投じ、テーマを変えた3ブランドのホテル建設や、MICE施設の強化などが計画されています。カジノ施設の詳細な内容についてはまだ公表されていませんが、IR施設全体の延べ面積約77平方メートルのうち3%以内の広さとなる予定です。
            tr
              td ライセンス
              td 約1兆800億円を開発予算として投じ、テーマを変えた3ブランドのホテル建設や、MICE施設の強
            tr
              td 第三者機関
              td 約1兆800億円を開発予算として投じ、テーマを変えた3ブランドのホテル建設や、MICE施設の強化などが計画されています。カジノ施設の詳細な内容についてはまだ公表されていませんが、IR
            tr
              td 入金方法
              td 約1兆800億円を開発予算として投じ、テーマを変えた3ブランドのホテル建設や、MICE施設の強化などが計画されています。カジノ施設の詳細な内容についてはまだ公表されていませんが、IR施設全体の延べ面積約77平方メートルのうち3%以内の広さとなる予定です。
            tr
              td 出金方法
              td 約1兆800億円を開発予算として投じ、テーマを変えた3ブランドのホテル建設や、MICE施設の強
            tr
              td ソフトウェア
              td 約1兆800億円を開発予算として投じ、テーマを変えた3ブランドのホテル建設や、MICE施設の強化などが計画されています。カジノ施設の詳細な内容についてはまだ公表されていませんが、IR
            tr
              td ボーナス
              td 約1兆800億円を開発予算として投じ、テーマを変えた3ブランドのホテル建設や、MICE施設の強化などが計画されています。カジノ施設の詳細な内容についてはまだ公表されていませんが、IR施設全体の延べ面積約77平方メートルのうち3%以内の広さとなる予定です。
            tr
              td サポート時間
              td 約1兆800億円を開発予算として投じ、テーマを変えた3ブランドのホテル建設や、MICE施設の強
            tr
              td カジノゲーム
              td 約1兆800億円を開発予算として投じ、テーマを変えた3ブランドのホテル建設や、MICE施設の強化などが計画されています。カジノ施設の詳細な内容についてはまだ公表されていませんが、IR
            tr
              td VIP制度
              td 約1兆800億円を開発予算として投じ、テーマを変えた3ブランドのホテル建設や、MICE施設の強化などが計画されています。カジノ施設の詳細な内容についてはまだ公表されていませんが、IR施設全体の延べ面積約77平方メートルのうち3%以内の広さとなる予定です。
            tr
              td 対応デバイス
              td 約1兆800億円を開発予算として投じ、テーマを変えた3ブランドのホテル建設や、MICE施設の強化などが計画されています。カジノ施設の詳細な内容についてはまだ公表されていませんが、IR
            tr
              td カジノ名
              td 約1兆800億円を開発予算として投じ、テーマを変えた3ブランドのホテル建設や、MICE施設の強化などが計画されています。カジノ施設の詳細な内容についてはまだ公表されていませんが、IR施設全体の延べ面積約77平方メートルのうち3%以内の広さとなる予定です。
        h3 （H3）オンラインカジノで使えるおすすめ決済方法
        .boxhead
          h4.boxhead--tit カジノ法案で理解しておきたいポイント
          .boxhead--inbox
            ul
              li 大人も子供も楽しめる観光地（統合型リゾート）
              li 世界の人々に日本の魅力を伝えながら、インバウンドの恩恵を全国に行き渡らせる
              li カジノに入場できるのは競艇・競輪などの公営ギャンブルと同じ21歳以上
              li 日本のカジノでも他国同様、ドレスコードが設けられる可能性が高い
              li カジノ法案を理解しておくのは非常に重要
        .boxhead.boxhead--cautions
          h4.boxhead--tit 注意事項
          .boxhead--inbox
            p 当サイトは情報提供を目的としているため、オンラインカジノの日本での利用が合法であることを保証するものではありません。「違法とも合法とも言えない」という日本の法律事情を理解し、ご自身の判断と責任の上で利用するようにしてください。
        .blockquote
          p オンラインカジノは「オンラインギャンブルの一種」であり、賭博に該当します。<br>日本では賭博行為が禁止されており、競馬や宝くじなどの国で認められているものを除いて、原則として賭博行為は違法になります。誰もが知っているパチンコやスロットの実態は「賭博行為」ですが、景品交換という形を取ることによって「法律には反していない」とされているのです。<br><br>一方、オンラインカジノは海外の政府機関が発行するライセンスを取得して合法的に運営されています。海外で合法的に運営されているとは言え、日本の法律では「違法である」とか解釈することもできます。<br>しかし、実際のところは「グレーゾーン」で、法律の専門家でも「違法である」とも「合法である」とも断言できないのが現実です。
          p(style="text-align: right; font-style: italic;") “ https://online-casino.media/ “
        .blockquote.blockquote--heading
          p.text_bold オンラインカジノを始める前に日本の法律を理解しよう
          p オンラインカジノは「オンラインギャンブルの一種」であり、賭博に該当します。<br>日本では賭博行為が禁止されており、競馬や宝くじなどの国で認められているものを除いて、原則として賭博行為は違法になります。誰もが知っているパチンコやスロットの実態は「賭博行為」ですが、景品交換という形を取ることによって「法律には反していない」とされているのです。<br><br>一方、オンラインカジノは海外の政府機関が発行するライセンスを取得して合法的に運営されています。海外で合法的に運営されているとは言え、日本の法律では「違法である」とか解釈することもできます。<br>しかし、実際のところは「グレーゾーン」で、法律の専門家でも「違法である」とも「合法である」とも断言できないのが現実です。
        .boxhead.boxhead--boxlink
          h4.boxhead--tit カジノ最新情報記事5選
          .boxhead--inbox
            ul
              li
                a(href="") 和歌山県がIR公聴会の延期を発表！理由は区域整備計画の準備不足
              li
                a(href="") 和歌山県がIR公聴会の延期【長崎県のIR候補地】佐世保市で事業者向け説明会が実施され1000人以上が参加を発表！理由は区域整備計画の準備不足
              li
                a(href="") 和歌山県がIR公聴会の延期を発表！理由は区域整備計画の準備不足
              li
                a(href="") 和歌山県がIR公聴会の延期【長崎県のIR候補地】佐世保市で事業者向け説明会が実施され1000人以上が参加を発表！理由は区域整備計画の準備不足
              li
                a(href="") 和歌山県がIR公聴会の延期を発表！理由は区域整備計画の準備不足
        .introduct
          .introduct--head
            .iconrank
              img(src="../images/ranking1.jpg", alt="")
            h3.introduct--tit Moon Princess
          .introduct--info
            .flexbox
              .txt
                h5 美少女戦士を選んでフリースピンで爆発を狙え！
                p 絵柄が消えると中心がワイルドに変化し、ワイルド以外のシンボルがすべて消えるとフリースピンに突入。選択した美少女戦士のパワーボーナスの爆発力が人気の秘密です！
              .img
                img(src="../images/imgdum3.jpg", alt="")
            .flexbox
              .price
                span 最近の高額勝利金額
                span.num 1,321,321
                span 円
              .btnpage
                a(href="") Moon Princessを<br>無料でお試しプレイ！
          .introduct--casinoonl
            h5 Moon Princessが遊べるオンラインカジノ
            ul
              li
                img(src="../images/casino1.png", alt="")
              li
                img(src="../images/casino2.png", alt="")
              li
                img(src="../images/casino3.png", alt="")
              li
                img(src="../images/casino4.png", alt="")
              li
                img(src="../images/casino5.png", alt="")
          .introduct--data 
            h5 Moon Princessの基本データ
            table
              tr 
                td ソフトウェア
                td
                  a(href="") Play’n GO 
                td ジャックポット
                td なし
              tr 
                td 最小/最大ベット額
                td 0.80/5.00
                td フリースピン
                td あり
              tr 
                td リール数
                td 横5×縦5
                td ペイライン数
                td あり
          .btnpage.bgwhite
            a(href="") Moon Princessのルールや特徴、フリースピンの遊び方を徹底解説
        .internallink
          ul.internallink--list
            li.internallink--item
              a(href="")
                .img
                  img(src="../images/imgrec1.png", alt="")
                span.txt ベラジョンカジノ
            li.internallink--item
              a(href="")
                .img
                  img(src="../images/imgrec2.png", alt="")
                span.txt ミスティーノカジノ
            li.internallink--item
              a(href="")
                .img
                  img(src="../images/imgrec3.png", alt="")
                span.txt カジノシークレット
            li.internallink--item
              a(href="")
                .img
                  img(src="../images/imgrec4.png", alt="")
                span.txt インターカジノ
            li.internallink--item
              a(href="")
                .img
                  img(src="../images/imgrec5.png", alt="")
                span.txt ビットカジノ
            li.internallink--item
              a(href="")
                .img
                  img(src="../images/imgrec6.png", alt="")
                span.txt ラッキーニッキーカジノ
            li.internallink--item
              a(href="")
                .img
                  img(src="../images/imgrec7.png", alt="")
                span.txt カジ旅
            li.internallink--item
              a(href="")
                .img
                  img(src="../images/imgrec8.png", alt="")
                span.txt エンパイアカジノ
            li.internallink--item
              a(href="")
                .img
                  img(src="../images/imgrec9.png", alt="")
                span.txt エルドアカジノ
            li.internallink--item
              a(href="")
                .img
                  img(src="../images/imgrec10.png", alt="")
                span.txt 賭けっ子リンリン
        .limited
          span.lable No.1
          .limited--inbox
            .img
              img(src="../images/casino1.png", alt="")
              a(href="") ベラジョンカジノ
            .txt
              .row
                dl 
                  dt
                    small 当サイト限定
                    | 登録ボーナス
                  dd 最高
                    span.price $750
                .btnpage.bgorg 
                  a(href="") ベラジョンカジノに<br>今すぐ無料登録する
              .row
                dl 
                  dt 出金条件
                  dd 入金額の2倍のベット<br>ボーナス額の20倍のベット
                .btnpage.bggray
                  a(href="") ジョンカジノを<br>詳しく見る
        .faq 
          h5.faq--tit よくあるご質問
          .faq--inbox 
            dl 
              dt.acr_title
                p そもそもオンラインカジノって何？
              dd.acr_con
                p オンラインカジノとは、インターネット上でカジノゲームが楽しめるプラットフォームです。インターネットに繋がっているパソコンまたはスマホ、タブレットがあれば利用できます。<br><br>皆さんが普段遊んでいるようなスマホゲームとの大きな違いは、お金を賭ける点です。実際に現金をオンラインカジノへ入金し、そのお金を使ってカジノゲームを遊び、ゲームに勝つと勝利金が支払われ、負けると現金没収となります。<br><br>また、オンラインカジノで遊べるゲームは様々です。本場カジノの臨場感を味わえるライブカジノでバカラやルーレット、ブラックジャックなどが遊べますし、1億円超えの賞金が期待できるビデオスロットのジャックポットも多数取り揃えています。
                img(src="../images/imgdum2.jpg", alt="")
            dl 
              dt.acr_title
                p オンラインカジノの仕組みってどうなってるの？
              dd.acr_con
                p オンラインカジノとは、インターネット上でカジノゲームが楽しめるプラットフォームです。インターネットに繋がっているパソコンまたはスマホ、タブレットがあれば利用できます。<br><br>皆さんが普段遊んでいるようなスマホゲームとの大きな違いは、お金を賭ける点です。実際に現金をオンラインカジノへ入金し、そのお金を使ってカジノゲームを遊び、ゲームに勝つと勝利金が支払われ、負けると現金没収となります。<br><br>また、オンラインカジノで遊べるゲームは様々です。本場カジノの臨場感を味わえるライブカジノでバカラやルーレット、ブラックジャックなどが遊べますし、1億円超えの賞金が期待できるビデオスロットのジャックポットも多数取り揃えています。
                img(src="../images/imgdum2.jpg", alt="")
            dl 
              dt.acr_title
                p オンラインカジノとランドカジノの違いは？
              dd.acr_con
                p オンラインカジノとは、インターネット上でカジノゲームが楽しめるプラットフォームです。インターネットに繋がっているパソコンまたはスマホ、タブレットがあれば利用できます。<br><br>皆さんが普段遊んでいるようなスマホゲームとの大きな違いは、お金を賭ける点です。実際に現金をオンラインカジノへ入金し、そのお金を使ってカジノゲームを遊び、ゲームに勝つと勝利金が支払われ、負けると現金没収となります。<br><br>また、オンラインカジノで遊べるゲームは様々です。本場カジノの臨場感を味わえるライブカジノでバカラやルーレット、ブラックジャックなどが遊べますし、1億円超えの賞金が期待できるビデオスロットのジャックポットも多数取り揃えています。
                img(src="../images/imgdum2.jpg", alt="")
            dl 
              dt.acr_title
                p 英語が苦手でも大丈夫？
              dd.acr_con
                p オンラインカジノとは、インターネット上でカジノゲームが楽しめるプラットフォームです。インターネットに繋がっているパソコンまたはスマホ、タブレットがあれば利用できます。<br><br>皆さんが普段遊んでいるようなスマホゲームとの大きな違いは、お金を賭ける点です。実際に現金をオンラインカジノへ入金し、そのお金を使ってカジノゲームを遊び、ゲームに勝つと勝利金が支払われ、負けると現金没収となります。<br><br>また、オンラインカジノで遊べるゲームは様々です。本場カジノの臨場感を味わえるライブカジノでバカラやルーレット、ブラックジャックなどが遊べますし、1億円超えの賞金が期待できるビデオスロットのジャックポットも多数取り揃えています。
                img(src="../images/imgdum2.jpg", alt="")
            dl 
              dt.acr_title
                p オンラインカジノは違法じゃないの？
              dd.acr_con
                p オンラインカジノとは、インターネット上でカジノゲームが楽しめるプラットフォームです。インターネットに繋がっているパソコンまたはスマホ、タブレットがあれば利用できます。<br><br>皆さんが普段遊んでいるようなスマホゲームとの大きな違いは、お金を賭ける点です。実際に現金をオンラインカジノへ入金し、そのお金を使ってカジノゲームを遊び、ゲームに勝つと勝利金が支払われ、負けると現金没収となります。<br><br>また、オンラインカジノで遊べるゲームは様々です。本場カジノの臨場感を味わえるライブカジノでバカラやルーレット、ブラックジャックなどが遊べますし、1億円超えの賞金が期待できるビデオスロットのジャックポットも多数取り揃えています。
                img(src="../images/imgdum2.jpg", alt="")
            dl 
              dt.acr_title
                p オンラインカジノは稼げるの？
              dd.acr_con
                p オンラインカジノとは、インターネット上でカジノゲームが楽しめるプラットフォームです。インターネットに繋がっているパソコンまたはスマホ、タブレットがあれば利用できます。<br><br>皆さんが普段遊んでいるようなスマホゲームとの大きな違いは、お金を賭ける点です。実際に現金をオンラインカジノへ入金し、そのお金を使ってカジノゲームを遊び、ゲームに勝つと勝利金が支払われ、負けると現金没収となります。<br><br>また、オンラインカジノで遊べるゲームは様々です。本場カジノの臨場感を味わえるライブカジノでバカラやルーレット、ブラックジャックなどが遊べますし、1億円超えの賞金が期待できるビデオスロットのジャックポットも多数取り揃えています。
                img(src="../images/imgdum2.jpg", alt="")
        .internalrate
          h4.internalrate--tit 最新オンラインカジノランキングをまとめて比較！
          .internalrate--inbox 
            .img 
              img(src="../images/imgdum5.jpg", alt="")
            .txt
              p 絵柄が消えると中心がワイルドに変化し、ワイルド以外のシンボルがすべて消えるとフリースピンに突入。選択した美少女戦士のパワーボーナスの爆発力が人気の秘密です！
              .btnpage.bgwhite
                a(href="") オンラインカジノランキング【2021年最新版】<br>はこちらから！ 
        .step
          span STEP
            span.num 01
          h2.step--tit 見出しのタイトルが入ります。
        .btnpage.bgwhite
          a(href="") “2022年完全版日本語対応オンラインカジノ全40サイトを徹底比較した<br>オンラインカジノランキング”を読む
        .btnpage.bgwhite
          a(href="") “オンラインカジノへ入金・出金する方法”を読む
        table.wp-block-advgb-table.is-style-tophead
          tbody
            tr
              td カジノ名
              td 特徴
            tr
              td 
                img(src="../images/casino1.png", alt="")
                a(href="") ベラジョンカジノ 
              td Casimo編集部では日本語対応している40のオンラインカジノを徹底比較してランキングを作成しています。<br>評価基準は6つあり、その中でも海外のオンラインカジノで遊ぶ上で最も重要になる「信頼性・安全性」を重視しています。2016年には「信頼性・安全性」の欠落が主な要因で日本で逮捕者が出てしまいました。また、相手が見えないインターネット上の取引ですので、知らずに詐欺などの事件に巻き込まれてしまう可能性もあります。<br>そこでCasimo編集部ではライセンスや実際のプレイ環境などを重視して、特に安心して遊べるオンラインカジノを上位にしています。
            tr
              td 
                img(src="../images/casino2.png", alt="")
                a(href="") カジノシークレット 
              td Casimo編集部では日本語対応している40のオンラインカジノを徹底比較してランキングを作成しています。<br>評価基準は6つあり、その中でも海外のオンラインカジノで遊ぶ上で最も重要になる「信頼性・安全性」を重視しています。2016年には「信頼性・安全性」の欠落が主な要因で日本で逮捕者が出てしまいました。また、相手が見えないインターネット上の取引ですので、知らずに詐欺などの事件に巻き込まれてしまう可能性もあります。<br>そこでCasimo編集部ではライセンスや実際のプレイ環境などを重視して、特に安心して遊べるオンラインカジノを上位にしています。
        table.wp-block-advgb-table.is-style-tophead
          tbody
            tr
              td 順位
              td カジノ名
              td 特徴
            tr
              td 1
              td 
                img(src="../images/casino1.png", alt="")
                a(href="") ベラジョンカジノ 
              td Casimo編集部では日本語対応している40のオンラインカジノを徹底比較してランキングを作成しています。<br>評価基準は6つあり、その中でも海外のオンラインカジノで遊ぶ上で最も重要になる「信頼性・安全性」を重視しています。2016年には「信頼性・安全性」の欠落が主な要因で日本で逮捕者が出てしまいました。また、相手が見えないインターネット上の取引ですので、知らずに詐欺などの事件に巻き込まれてしまう可能性もあります。<br>そこでCasimo編集部ではライセンスや実際のプレイ環境などを重視して、特に安心して遊べるオンラインカジノを上位にしています。
            tr
              td 2
              td 
                img(src="../images/casino2.png", alt="")
                a(href="") カジノシークレット 
              td Casimo編集部では日本語対応している40のオンラインカジノを徹底比較してランキングを作成しています。<br>評価基準は6つあり、その中でも海外のオンラインカジノで遊ぶ上で最も重要になる「信頼性・安全性」を重視しています。2016年には「信頼性・安全性」の欠落が主な要因で日本で逮捕者が出てしまいました。また、相手が見えないインターネット上の取引ですので、知らずに詐欺などの事件に巻き込まれてしまう可能性もあります。<br>そこでCasimo編集部ではライセンスや実際のプレイ環境などを重視して、特に安心して遊べるオンラインカジノを上位にしています。
        .introduct.referral
          .introduct--head
            .iconrank
              img(src="../images/ranking1.jpg", alt="")
            h3.introduct--tit ベラジョンカジノ
            .introduct--ratetotal.rate
              span.evaluation 総合評価
                small （30点満点）
              .rate--content
                +rate
              span.rate--num.fontroboto 28.5
          .introduct--inbox
            .flexbox
              .img
                img(src="../images/imgdum2.jpg", alt="")
                span 引用元：ベラジョンカジノ公式サイト
              .boxrate
                dl 
                  dt 信頼性　
                  dd.rate--content
                    +rate
                dl 
                  dt サポート体制
                  dd.rate--content
                    +rate
                dl 
                  dt 出金スピード
                  dd.rate--content
                    +rate
                dl 
                  dt 入出金方法
                  dd.rate--content
                    +rate
                dl 
                  dt プロモーション
                  dd.rate--content
                    +rate
                dl 
                  dt ゲーム数　
                  dd.rate--content
                    +rate
            .flexbox
              .introduct--btn
                .btnpage.bggray 
                  a(href="") ベラジョンカジノを詳しく見る
              .introduct--btn
                span.lable 入出金不要ボーナスで35＄お得！
                .btnpage.bgorg
                  a(href="") ベラジョンカジノを今すぐ無料プレイ
          .introduct--payment
            h5.introduct--payment--tit ベラジョンカジノで使える決済方法一覧
            .introduct--payment--inbox 
              dl 
                dt 入金方法
                dd
                  span 
                    img(src="../images/paymen", alt="")
      //- .wp-block-advgb-accordions
      //-   .wp-block-advgb-accordion-item
      //-     .advgb-accordion-header
      //-       span.advgb-accordion-header-icon
      //-       h4.advgb-accordion-header-title
      //-         span 目次

    +sidebar