.icon.icon-mail
    a(href=dir+"contact/").icon_inside
        .icon-img
            img(src=dirShare+"svg/iconmail.svg")
        if hastext == true
            span.icon-txt Mail
.icon.icon-tel
    a(href="tel:").icon_inside
        .icon-img
            img(src=dirShare+"svg/icontel_type2.svg")
        if hastext == true
            span.icon-txt Tel