mixin mv()
  .section.mainvs
    .mv
      .owl-carousel.slidejs.owl-theme
        - for (var i=1; i<2; i++)
          .item-owl
            .bgmv(style='background-image:url('+dir+'images/mv0'+i+'.jpg)')
              .bgmv_inside.same_width
                .bgmv_inside_center
                  h2
                    p Logistics Consulting
                    p &
                    P System Development
                  h3
                    span
                      |物流事業でお困りではないですか？
                  p.desc
                    |物流設計、システム開発、倉庫手配、人員手配、
                    br
                    |マテハン導入、協力会社紹介、営業支援、業務改善など
                    br
                    |物流に関する貴社のあらゆるニーズを
                    br
                    |ワンストップにて対応いたします。