case type_nav
    when 2
        .icon.icon-hamburger.js-hamburger.type2
            .icon-bar
                span
                span
                span
            if hastext == true
                span.icon-txt Menu
    when 3
        .icon.icon-hamburger.js-hamburger.type3
            .icon-bar
                span
                span
                span
            if hastext == true
                span.icon-txt Menu
    default  
        .icon.icon-hamburger.js-hamburger
            .icon-bar
                span
                span
                span
            if hastext == true
                span.icon-txt Menu