extends ../../pug/layout.pug
block define
  - var pagelevel = 1
  - var secondpage = 1
  - var page = "author"
  - var textdemo = 0
//- EDIT ANOTHER 
block thebreadcrumb
  +breadcrumb("カジモ編集部のご紹介","ナオ")
block mainvs
  +headtitle("ナオ のプロフィール")
block content
  section.container
    .content
      .author__info
        .author__info--img
          .img
            img(src="../images/person.png", alt="")
          span.txt ナオ
        .author__info--txt
          p Casimoで責任者をしているナオです。<br><br>学生時代に独学でWebマーケティングを学び、複数の会社を経て、2013年に東京でWEB制作会社を起業。<br>起業後、趣味のカジノ旅行がキッカケで、オンラインカジノに出会い、2018年にCasimo編集部を立ち上げました。<br><br>現在は、最先端の情報を入手するため、オンラインカジノの本場であるマルタ共和国に会社を移転し、各オンラインカジノ会社と提携してCasimo限定ボーナスの交渉や、最新のオンラインカジノのリサーチ業務に従事。<br><br>Casimo編集部では、オンラインカジノに関する正しい情報をお届けし、どこよりもお得に遊んでもらえるように運営して参ります。
      .author__detail
        table.author__detail--table
          tr
            th 名前
            td ナオ
          tr
            th 役職
            td サイト運営者
          tr
            th 年齢
            td 30代
          tr
            th オンライン<br>カジノ歴
            td 4年
          tr
            th 好きな<br>カジノゲーム
            td バカラ・シックボー
          tr
            th お気に入り<br>オンラインカジノ
            td エルドアカジノ
          tr
            th 趣味
            td カジノ旅行
          tr
            th 性格
            td 情熱的で行動でみんなを引っ張る。誰にでも優しく接する。
          tr
            th 生年月日
            td XXXX年XX月XX日
          tr
            th SNS
            td
              ul.row 
                li
                  a(href="") 
                    img(src="../images/twitter-square-brands.svg", alt="twitter")
                li
                  a(href="") 
                    img(src="../images/facebook-square-brands.svg", alt="facebook")
                li
                  a(href="") 
                    img(src="../images/instagram-square-brands.svg", alt="instagram")
      .author__view
        h2 他のライターのプロフィールを見る
        ul.row
          - for (i=1; i<13; i++)
            li.author__view--writers
              .flexbox
                a(href="").author__view--img
                  img(src="../images/person.png", alt="")
                .author__view--txt
                  a(href="").name 笠原　豪
                  span.txt 管理人/オンカジ歴10年以上
        .btnmore
          span もっと見る
      .author__article.author__article--ath
        h2 ナオが担当した記事
        ul.listarticle
          li.listarticle--item
            a(href="").row
              .img
                img(src="../images/article1.png", alt="")
              .text
                p.tit 【2021年最新】オンラインカジノおすすめランキング…
                p.txt 2016年には「信頼性・安全性」の欠落が主な要因で日本で逮捕者が出てしまいました。
                dl.row
                  dt.ico-cal
                    span 公開日: 2022年00月00日
                  dt.ico-time
                    span 更新日: 2022年00月00日
          - for (i=1; i<10; i++)
            li.listarticle--item
              a(href="").row
                .img
                  .lable.row
                    span.new NEW
                  img(src="../images/article2.png", alt="")
                .text
                  p.tit 【2021年最新】オンラインカジノおすすめランキング…
                  p.txt 2016年には「信頼性・安全性」の欠落が主な要因で日本で逮捕者が出てしまいました。
                  dl.row
                    dt.ico-cal
                      span 公開日: 2022年00月00日
                    dt.ico-time
                      span 更新日: 2022年00月00日
        .btnmore
          span もっと見る
    +sidebar